:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.01em;
}